# --- General options --- #

# url is the full website URL
# baseurl is the website's URL without the hostname

# If you are building a simple GitHub user page (http://username.github.io) then use these settings:
url: "https://konstakang.com"
baseurl: ""

# If you are building a GitHub project page then use these settings:
#url: "http://username.github.io/projectname"
#baseurl: "/projectname"

# Of course don't forget to change the username and projectname to YOUR username and project

# Name of website
title: KonstaKANG.com

# Short description of your site
description: ""

# --- Navigation bar options --- #

# List of links in the navigation bar
navbar-links:
  Devices:
    - Chuwi Vi10 Plus: "devices/chuwi_vi10plus"
    - Cube iWork8 Ultimate: "devices/cube_iwork8ultimate"
    - Huawei Y5: "devices/y560"
    - Nexbox A95X: "devices/nexbox_a95x"
    - Raspberry Pi 3: "devices/rpi3"
    - Raspberry Pi 4: "devices/rpi4"
    - Raspberry Pi 5: "devices/rpi5"
    - ZTE Blade: "devices/blade"
    - ZTE Blade III: "devices/atlas40"
    - ZTE Open C / Kis 3: "devices/kis3"
  Tags: "tags"

# Image to show in the navigation bar - image must be a square (width = height)
# Remove this parameter if you don't want an image in the navbar
avatar: "/img/konsta.png"
avatar-svg: true

# --- Footer options --- #

# Your name to show in the footer
author: KonstaKANG

# Select the social network links that you want to show in the footer.
# You can change the order that they show up on the page by changing the order here.
# Uncomment the links you want to show and add your information to each one.
social-network-links:
  github: KonstaT
  x-twitter: KonstaKANG
  paypal: KonstaKANG
  bitcoin: 1KonstafKxLejN74G2NLZhD2TGkA6m1MCD
  email: "konstakang@gmail.com"
  rss: true
  #bluesky: yourname
  #discord: youruserid
  #facebook: yourname
  #gitlab: yourname
  #instagram: yourname
  #linkedin: yourname
  #medium: yourname
  #patreon: yourname
  #pinterest: yourname
  #reddit: yourname
  #signal: yourname
  #snapchat: yourname
  #spotify: yourname
  #stackoverflow: yourlink
  #steam: yourname
  #strava: youruserid
  #telegram: yourname
  #telephone: yourphone
  #threads: yourname
  #tiktok: yourname
  #twitch: yourname
  #whatsapp: yourphone
  #xing: yourname
  #yelp: yourname
  #youtube: yourlink

# How to display the link to the website in the footer
# Remove this if you don't want a link in the footer
#url-pretty: "KonstaKANG.com"

# --- Misc --- #

# Fill in your Disqus shortname (NOT the userid) if you want to support Disqus comments
disqus: "konstakang"

# Fill in your Google Analytics gtag.js ID to track your website using gtag
gtag: "G-5V569RZF4Z"

# Fill in your Google AdSense ID
google_adsense: "ca-pub-2525301408566801"

# Excerpt Word Length
# Truncates the excerpt to the specified number of words on the index page
excerpt_length: 50

# Collections
collections:
  devices:
    output: true
    permalink: devices/:path/
  tags:
    output: true
    permalink: tags/:path/

# --- Don't need to touch anything below here (but you can if you want) --- #

# Output options (more information on Jekyll's site)
timezone: "Etc/GMT"
markdown: kramdown
highlighter: rouge
permalink: /:year-:month-:day-:title/
paginate: 5

kramdown:
  input: GFM

# Default YAML values (more information on Jekyll's site)
defaults:
  -
    scope:
      path: ""
      type: "devices"
    values:
      layout: "rom"
      comments: true
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true
  -
    scope:
      path: ""
      type: "tags"
    values:
      layout: "tag"
      use-site-title: true
  -
    scope:
      path: ""
    values:
      layout: "page"
      show-avatar: true

# Exclude these files from production site
exclude:
  - CNAME
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md

plugins:
  - jekyll-paginate
