---
layout: page
title: Tags
subtitle: Browse site by tag
use-site-title: true
---

{% if site.google_adsense %}
  {% include ad.html %}
{% endif %}

<div class="home">
  <p class="post-meta" style="text-align: justify;">
  {% assign tags =  site.devices | map: 'tags' | join: ',' | split: ',' | sort %}
  {% assign tags_count =  site.devices | map: 'tags' | join: ',' | split: ',' | sort | uniq | size %}
  {% assign previousTag = "" %}
  {% assign counter = 0 %}

  {% for currentTag in tags %}

    {% if previousTag == "" %}
      {% assign previousTag = currentTag %}
    {% endif %}

    {% if currentTag == previousTag %}
      {% assign counter = counter | plus: 1 %}
    {% else %}
      {% assign rel_tag_size = counter | times: 2.5 | divided_by: tags_count | plus: 0.7 %}
      <span style="white-space: nowrap; font-size: {{ rel_tag_size }}em; padding: 0.4em;">
        <a href="{{ site.baseurl }}/tag/{{ previousTag }}" class="tag">{{ previousTag }} ({{ counter }})</a>
      </span>
      {% assign counter = 1 %}
    {% endif %}

    {% if forloop.last %}
      {% assign rel_tag_size = counter | times: 2.5 | divided_by: tags_count | plus: 0.7 %}
      <span style="white-space: nowrap; font-size: {{ rel_tag_size }}em; padding: 0.4em;">
        <a href="{{ site.baseurl }}/tag/{{ currentTag }}" class="tag">{{ currentTag }} ({{ counter }})</a>
      </span>
    {% endif %}

    {% assign previousTag = currentTag %}

  {% endfor %}
  </p>
</div>

<hr>

{% include donate.html %}

{% if site.google_adsense %}
  {% include ad.html %}
{% endif %}
