{% if site.social-network-links %}
  <ul class="list-inline text-center footer-links">
    {% for network in site.social-network-links %}

      {% if network[0] == "bitcoin" %}
        <li>
          <a href="bitcoin:{{ site.social-network-links.bitcoin }}" title="Bitcoin">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fas fa-square fa-stack-2x"></i>
              <i class="fab fa-brands fa-bitcoin fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">Bitcoin</span>
         </a>
        </li>
      {% endif %}

      {% if network[0] == "bluesky" %}
        <li>
          <a href="https://bsky.app/profile/{{ site.social-network-links.bluesky }}" title="Bluesky">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fas fa-square fa-stack-2x"></i>
              <i class="fas fa-brands fa-bluesky fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">Bluesky</span>
          </a>
        </li>
      {% endif %}

      {% if network[0] == "discord" %}
        <li>
          <a href="https://discord.com/users/{{ site.social-network-links.discord }}" title="Discord">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fas fa-square fa-stack-2x"></i>
              <i class="fab fa-brands fa-discord fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">Discord</span>
         </a>
        </li>
      {% endif %}

      {% if network[0] == "email" %}
        <li>
          <a href="mailto:{{ site.social-network-links.email }}" title="Email">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">Email me</span>
          </a>
        </li>
      {% endif %}

      {% if network[0] == "facebook" %}
        <li>
          <a href="https://www.facebook.com/{{ site.social-network-links.facebook }}" title="Facebook">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-brands fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">Facebook</span>
          </a>
        </li>
      {% endif %}

      {% if network[0] == "github" %}
        <li>
          <a href="https://github.com/{{ site.social-network-links.github }}" title="GitHub">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-brands fa-github fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">GitHub</span>
          </a>
        </li>
      {% endif %}

      {% if network[0] == "gitlab" %}
        <li>
          <a href="https://gitlab.com/{{ site.social-network-links.gitlab }}" title="GitLab">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fas fa-square fa-stack-2x"></i>
              <i class="fab fa-brands fa-gitlab fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">GitLab</span>
         </a>
        </li>
      {% endif %}

      {% if network[0] == "instagram" %}
        <li>
          <a href="https://www.instagram.com/{{ site.social-network-links.instagram }}" title="Instagram">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-brands fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">Instagram</span>
          </a>
        </li>
      {% endif %}

      {% if network[0] == "linkedin" %}
        <li>
          <a href="https://linkedin.com/in/{{ site.social-network-links.linkedin }}" title="LinkedIn">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-brands fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">LinkedIn</span>
          </a>
        </li>
      {% endif %}

      {% if network[0] == "medium" %}
        <li>
          <a href="https://medium.com/@{{ site.social-network-links.medium }}" title="Medium">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fas fa-square fa-stack-2x"></i>
              <i class="fab fa-brands fa-medium fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">Medium</span>
          </a>
        </li>
      {% endif %}

      {% if network[0] == "patreon" %}
        <li>
          <a href="https://patreon.com/{{ site.social-network-links.patreon }}" title="Patreon">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fas fa-square fa-stack-2x"></i>
              <i class="fab fa-brands fa-patreon fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">Patreon</span>
          </a>
        </li>
      {% endif %}

      {% if network[0] == "paypal" %}
        <li>
          <a href="https://paypal.me/{{ site.social-network-links.paypal }}" title="PayPal">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fas fa-square fa-stack-2x"></i>
              <i class="fab fa-brands fa-paypal fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">PayPal</span>
         </a>
        </li>
      {% endif %}

      {% if network[0] == "pinterest" %}
        <li>
          <a href="https://www.pinterest.com/{{ site.social-network-links.pinterest }}" title="Pinterest">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fas fa-square fa-stack-2x"></i>
              <i class="fab fa-brands fa-pinterest fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">Pinterest</span>
         </a>
        </li>
      {% endif %}

      {% if network[0] == "reddit" %}
        <li>
          <a href="https://reddit.com/u/{{ site.social-network-links.reddit }}" title="Reddit">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-brands fa-reddit fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">Reddit</span>
          </a>
        </li>
      {% endif %}

      {% if network[0] == "rss" and network[1] %}
        <li>
          <a href="{{ '/feed.xml' | prepend: site.baseurl }}" title="RSS">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">RSS</span>
          </a>
        </li>
      {% endif %}

      {% if network[0] == "signal" %}
        <li>
          <a href="https://signal.me/#eu/{{ site.social-network-links.signal }}" title="Signal">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fas fa-square fa-stack-2x"></i>
              <i class="fab fa-brands fa-signal-messenger fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">Signal</span>
         </a>
        </li>
      {% endif %}

      {% if network[0] == "snapchat" %}
        <li>
          <a href="https://www.snapchat.com/add/{{ site.social-network-links.snapchat }}" title="Snapchat">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-brands fa-snapchat-ghost fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">Snapchat</span>
          </a>
        </li>
      {% endif %}

      {% if network[0] == "spotify" %}
        <li>
          <a href="https://open.spotify.com/user/{{ site.social-network-links.spotify }}" title="Spotify">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-brands fa-spotify fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">Spotify</span>
          </a>
        </li>
      {% endif %}

      {% if network[0] == "stackoverflow" %}
        <li>
          <a href="https://stackoverflow.com/users/{{ site.social-network-links.stackoverflow }}" title="StackOverflow">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-brands fa-stack-overflow fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">StackOverflow</span>
          </a>
        </li>
      {% endif %}

      {% if network[0] == "steam" %}
        <li>
          <a href="https://steamcommunity.com/id/{{ site.social-network-links.steam }}" title="Steam">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-brands fa-steam fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">Steam</span>
          </a>
        </li>
      {% endif %}

      {% if network[0] == "strava" %}
        <li>
          <a href="https://www.strava.com/athletes/{{ site.social-network-links.strava }}" title="Strava">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fas fa-square fa-stack-2x"></i>
              <i class="fab fa-brands fa-strava fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">Strava</span>
         </a>
        </li>
      {% endif %}

      {% if network[0] == "telegram" %}
        <li>
          <a href="https://t.me/{{ site.social-network-links.telegram }}" title="Telegram">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fas fa-square fa-stack-2x"></i>
              <i class="fab fa-brands fa-telegram-plane fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">Telegram</span>
          </a>
        </li>
      {% endif %}

      {% if network[0] == "telephone" %}
        <li>
          <a href="tel:{{ site.social-network-links.telephone }}" title="Phone">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">Phone</span>
          </a>
        </li>
      {% endif %}

      {% if network[0] == "threads" %}
        <li>
          <a href="https://www.threads.com/@{{ site.social-network-links.threads }}" title="Threads">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fas fa-square fa-stack-2x"></i>
              <i class="fab fa-brands fa-threads fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">Threads</span>
         </a>
        </li>
      {% endif %}

      {% if network[0] == "tiktok" %}
        <li>
          <a href="https://www.tiktok.com/@{{ site.social-network-links.tiktok }}" title="TikTok">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fas fa-square fa-stack-2x"></i>
              <i class="fab fa-brands fa-tiktok fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">TikTok</span>
         </a>
        </li>
      {% endif %}

      {% if network[0] == "twitch" %}
        <li>
          <a href="https://www.twitch.tv/{{ site.social-network-links.twitch }}" title="Twitch">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-brands fa-twitch fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">Twitch</span>
          </a>
        </li>
      {% endif %}

      {% if network[0] == "whatsapp" %}
        <li>
          <a href="https://wa.me/{{ site.social-network-links.whatsapp }}" title="WhatsApp">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fas fa-square fa-stack-2x"></i>
              <i class="fab fa-brands fa-whatsapp fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">WhatsApp</span>
         </a>
        </li>
      {% endif %}

      {% if network[0] == "x-twitter" %}
        <li>
          <a href="https://x.com/{{ site.social-network-links.x-twitter }}" title="X (Twitter)">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-brands fa-x-twitter fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">X (Twitter)</span>
          </a>
        </li>
      {% endif %}

      {% if network[0] == "xing" %}
        <li>
          <a href="https://www.xing.com/profile/{{ site.social-network-links.xing }}" title="Xing">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-brands fa-xing fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">Xing</span>
          </a>
        </li>
      {% endif %}

      {% if network[0] == "yelp" %}
        <li>
          <a href="https://{{ site.social-network-links.yelp }}.yelp.com" title="Yelp">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-brands fa-yelp fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">Yelp</span>
          </a>
        </li>
      {% endif %}

      {% if network[0] == "youtube" %}
        <li>
          <a href="https://www.youtube.com/{{ site.social-network-links.youtube }}" title="YouTube">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-brands fa-youtube fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">YouTube</span>
          </a>
        </li>
      {% endif %}

    {% endfor %}
  </ul>
{% endif %}
