---
layout: base
---

{% include header.html %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      {% if site.google_adsense %}
        {% include ad.html %}
      {% endif %}

      <h4>{{ page.tag }}:</h4>
      <ul>
        {% assign sorted_devices = site.devices | sort: 'date' | reverse %}
        {% for device in sorted_devices %}
          {% if device.tags contains page.tag %}
            <li>{{ device.date | date: "%B %-d, %Y" }}: <a href="{{ site.baseurl }}{{ device.url }}">{{ device.title }} {{ device.subtitle }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>

      <hr>

      {% if site.google_adsense %}
        {% include ad.html %}
      {% endif %}

    </div>
  </div>
</div>
