---
layout: default
---

{% assign sorted_devices = site.devices | sort: 'date' | reverse %}
{% assign tags =  site.devices | map: 'tags' | join: ',' | split: ',' | sort | uniq %}
<h4>{{ page.tag }}</h4>
<ul>
{% for devices in sorted_devices %}
  {% if devices.tags contains page.tag %}
    <li>{{ devices.date | date: "%B %-d, %Y" }}: <a href="{{ site.baseurl }}{{ devices.url }}">{{ devices.title }} {{ devices.subtitle }}</a></li>
  {% endif %}
{% endfor %}
</ul>

<hr>

{% include donate.html %}

{% if site.google_adsense %}
{% include ad.html %}
{% endif %}
